@charset "UTF-8";

/* ------------------------------------------ reset
--------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #ffffff;
    position: relative;
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
}


html,
body,
div,
span,
p,
ul,
li,
input,
table,
thead,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

a:hover {
    color: #ffffff;
}

p {
    color: #484848;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1C1C1C;
}

hr {
    background-color: rgb(209, 208, 208);
    height: 1px;
    border: none;
    margin: 26px 0;
}

/* ------------------------------------------ utility
--------------------------------------------- */

.row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.col-1-4 {
    padding: 0 16px;
    width: 25%;
}

.col-1-3 {
    padding: 0 16px;
    width: 33%;
}

.col-1-2 {
    padding: 0 16px;
    width: 50%;
}

.col-2-3 {
    padding: 0 16px;
    width: 60%;
}

.col-3-4 {
    padding: 0 16px;
    width: 75%;
}

.col-4-5 {
    padding: 0 16px;
    width: 80%;
}

.col {
    padding: 0 16px;
    width: 100%;
}


@media screen and (max-width: 786px) {

    .col-1-2,
    .col-1-4,
    .col-1-3,
    .col-3-4,
    .col-2-3,
    .w70,
    .w30 {
        padding: 0;
        width: 100%;
    }
}

.ml-8 {
    margin-left: 8px;
}

.ml-auto {
    margin-left: auto;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-12 {
    margin-top: 12px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mt-24 {
    margin-top: 24px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.pl-8 {
    padding-left: 8px;
}

.pr-40 {
    padding-right: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.vertical-md {
    vertical-align: middle;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.inline-block {
    display: inline-block;
}

.margin-auto {
    margin: 0 auto;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .m_displaynone {
        display: none;
    }
}

/* ------txt------- */
.color-secondary {
    color: #FCBE08;
}


.text-xl {
    font-size: 24px;
}

.text-l {
    font-size: 1.2rem !important;
}

.text-m {
    font-size: 1.1rem !important;
}

.text-s {
    font-size: .9rem !important;
}

.text-xs {
    font-size: .8rem !important;
}

.text-indent-2 {
    margin-left: 1rem;
    text-indent: -1rem
}

.font-bold {
    font-weight: bold;
}

.seo {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

/* ------------------------------------------ component 
--------------------------------------------- */

.wrapper {
    width: 100%;
    /* position: relative; */
    overflow: hidden;
    z-index: 3;
    height: 100%;
    /* position: absolute; */
    /* top: 0; */
}

.container_fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}


@media screen and (max-width: 576px) {
    .container {
        padding: 0 12px;
    }
}

.content {
    width: 100%;
    margin: 0 auto;
}

.title-1 {
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    text-shadow: 0 0 1px #d4d4d4;
}

.title-1+p {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 1px #d4d4d4;
}

.title-2 {
    font-size: 38px;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
}

.title-2+p {
    font-size: 20px;
    margin-bottom: 42px;
}


.title-3 {
    font-size: 30px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
}

.title-4 {
    font-size: 26px;
}

@media screen and (max-width: 786px) {
    .title-1 {
        font-size: 34px;
    }

    .title-1+p {
        font-size: 18px;
    }

    .title-2 {
        font-size: 28px;
        margin-bottom: 12px;

    }

    .title-3 {
        font-size: 26px;
    }

    .title-4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    .title-1 {
        font-size: 30px;
        line-height: 1.5;
    }

    .title-1+p {
        font-size: 16px;
    }

    .title-2+p {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .title-3 {
        font-size: 24px;
    }

    .title-4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 376px) {

    .title-1,
    .title-2,
    .title-3,
    .title-4 {
        letter-spacing: 0px;
    }
}

/*--btn--*/
.btn {
    display: inline-block;
    height: 50px;
    min-width: 180px;
    font-size: 18px;
    background: #388ed0;
    color: #ffffff;
    border-radius: 4px;
    line-height: 50px;
    padding: 0px 32px;
    text-align: center;
    vertical-align: middle;
    transition: .2s;
}

.btn:hover {
    opacity: .8;
}

.btn--inline {
    background: none;
    border: 1px solid #D97B00;
    color: #D97B00;
}

.btn--inline:hover {
    opacity: .8;
    color: #D97B00;
}


.card .btn {
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    font-size: 18px;
}

.btn .arrow {
    border: solid #00a19b;
    border-width: 0px 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-left: 8px;
    margin-bottom: 3px;
}

.btn:hover .arrow {
    border: solid #ffffff;
    border-width: 0px 1px 1px 0;
}

@media screen and (max-width: 576px) {
    .btn {
        height: 44px;
        font-size: 18px;
        line-height: 44px;
        padding: 0px 24px;
    }

    .card .btn {
        font-size: 16px;
    }
}


/* -----------------------------------slick
-------------------------------------------- */
.slider {
    width: 100%;
}

.step {
    text-align: center;
}

.slick-list {
    height: 100%;
}

.slick-slider .slick-slide {
    padding: 0 8px;
    height: 100%;
}

.slick-slide img {
    margin: 0 auto;
}

.slick-dots {
    position: relative;
    bottom: 10px;
}

.slick-dots ul li {
    width: auto !important;
}

.slick-dots li button:before {
    line-height: 0;
    font-size: 18px;
}

.slick-dots li.slick-active button:before {
    color: #009973;
}

.slick-prev:before {
    content: '⟨';
    font-size: 40px;
}

.slick-next:before {
    content: '⟩';
    font-size: 40px;
}

.slick-prev:before,
.slick-next:before {
    color: #009973;
}

@media screen and (max-width: 576px) {
    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }
}


/* ----popup--- */
.fancybox-bg {
    background: #151515b5;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
    cursor: default;
}

.fancybox-content {
    border-radius: 5px;
    width: 900px;
    padding: 32px;
}

.fancybox-button {
    width: 48px;
    height: 48px;
}

.popup-content p {
    font-size: 16px;
    line-height: 1.5rem;
}

.popup-content .popup-img {
    width: 50%;
    position: relative;
}

.popup-content .popup-img img {
    padding: 0 14px;
    max-width: 100%;
    position: absolute;
    bottom: 50%;
    right: 0px;
    transform: translateY(50%);


}

.popup-content .popup-txt {
    background: #F4F8FA;
    width: 50%;
    padding: 36px;
}

.popup-content .title {
    font-size: 30px;
    color: #007A7A;
    font-weight: 500;
    text-align: center;
    margin: 24px 0;
}

.popup-content .btn {
    background: #1CADA4;
    width: 255px;
    height: 100px;
    border-radius: 30px;
    line-height: 90px;
    font-size: 20px;
    border: #BDE3E2 solid 5px;
    margin: 8px 16px;
    position: relative;
    transition: .2s;
}

.popup-content .btn:hover {
    border: #007A7A solid 5px;
}

.popup-content .btn:hover::after {
    content: "";
    position: absolute;
    background: url(../img/ball.svg) no-repeat;
    background-size: cover;
    right: -10px;
    bottom: -10px;
    width: 35px;
    height: 35px;
}

.popup-block p {
    padding-left: 30px;
    font-size: 20px;
    color: #515151;
    line-height: 32px;
    letter-spacing: 1.1;
    /* font-weight: bold; */
}

.popup-block p small {
    margin-left: 8px;
    color: #a2a2a2;
}

@media screen and (max-width: 900px) {
    .fancybox-content {
        width: 95%;
    }
}


@media screen and (max-width: 768px) {
    .popup-content .popup-img {
        width: 100%;
        height: 250px;
        order: 0;
    }

    .popup-content .popup-img img {
        height: 100%;
        right: 50%;
        transform: translate(50%, 50%);
    }

    .popup-content .popup-txt {
        width: 100%;
        order: 0;
        height: 300px;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

    .popup-content .title {
        font-size: 26px;
    }

    .popup-content .btn {
        height: 90px;
        line-height: 80px;

    }
}

/* ----tab --- */
.tab {
    width: 100%;
}

.tab .uk-switcher {
    /* background: #E1EFEF; */
    border-radius: 10px;
    padding: 20px;
}

.uk-tab {
    /* max-width: 660px; */
    width: 100%;
    margin: 0 auto;
}

.uk-tab>li {
    display: inline-block !important;
    width: calc(100% /3);
    padding-left: 0;
    position: relative;
}

.uk-tab-3>li {
    width: calc(100% / 3);
}

.uk-tab>li a {
    height: 100%;
    font-size: 18px;
    text-transform: unset;

}

.uk-tab>.uk-active::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #DEAF26;
    border-radius: 10px;
    display: block;
    position: absolute;
    bottom: -3px;
    right: 0;
}

.uk-tab>.uk-active>a {
    color: #DEAF26;
    font-weight: bold;
    padding-bottom: 16px;
    border: 0;
}

.uk-tab::before {
    display: none;
}

.uk-tab::after {
    content: "";
    bottom: 0;
    left: 20px;
    right: 0;
    width: 100%;
    height: 3px;
    background: #E1E1E1;
    border-radius: 10px;
    position: static;
}

@media screen and (max-width: 768px) {
    .uk-tab>li a {
        font-size: 16px;
    }

}

/* ------Headerfooter---- */
.img-responsive {
    max-width: 100%;
    height: auto;
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.head_logo {
    float: left;
    margin: 0;
    max-width: 316px;
    width: 100%;
    padding-top: 4px;
}

header {
    z-index: 10;
    width: 100%;
    height: 55px;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffffff;
    min-height: 50px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    box-shadow: 3px 3px 10px #d5d5d5;
}

.headerChange {
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
}

.headerChange nav ul li a {
    color: #ffffff;
}

header .nav_wrap_m {
    display: none;
}

header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}

.mystyle {
    top: 0px !important;
    position: fixed !important;
    height: 55px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 3px 3px 10px #d6edeb;
    box-shadow: 3px 3px 10px #d6edeb;
    padding-bottom: 10px;
}

.target-burger {
    right: 0;
    top: 0;
    width: 3.25em;
    height: 3.25em;
    position: absolute;
    display: block;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.buns {
    width: 1.625em;
    height: 1.625em;
    list-style: none;
    margin: -0.8125em 0 0 -0.8125em;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
    -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.buns li {
    width: 100%;
    height: 2px;
    background-color: #a2a2a2;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.buns li:last-child {
    -webkit-transform: translateY(3.75px) translateZ(0);
    transform: translateY(3.75px) translateZ(0);
}

nav ul {
    list-style: none;
    position: relative;
}

nav ul li {

    font-size: 14px;
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: #484848;
    font-size: 18px;
    line-height: 55px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

nav ul li:hover a {
    color: #FCBE08;
}

.btn_join {
    background: #009d95;
    color: #fff !important;
    padding: 8px 24px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 32px;
}

.btn_join:hover {
    color: #fff;
}

.btn_join img {
    width: 10px;
    margin: 0 5px;
}

.nav_wrap_close {
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 0;
    width: 100%;
}

.function_ham {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.function_ham img {
    display: block;
    width: 22px;
}

.function_ham:hover span {
    background-color: #797979;
}

.function_ham span:after,
.function_ham span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.function_ham span:after {
    top: 9px;
}

.function_ham span {
    position: relative;
    display: block;
}

.function_ham span {
    width: 100%;
    width: 22px;
    height: 4px;
    background-color: #b3b3b3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    margin-bottom: 4px;
}

.nav_wrap {
    overflow: hidden;
}

.function_nav {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 70px 0 0 70px;
    margin-right: 0;
    padding: 0px 28px;
    margin-top: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 102;
}

.function_nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.function_nav ul li {
    display: inline-block;
    vertical-align: middle;
}

.function_nav ul li a {
    display: block;
    /* padding: 1em 8px; */
    font-size: 18px;
}

.function_nav_close {
    -webkit-transform: translateX(590px);
    -ms-transform: translateX(590px);
    transform: translateX(590px);
}


.m_cta {
    display: none;
}


.store {
    display: none;
}


@media screen and (min-width: 801px) {
    nav {
        float: right;
        width: auto;
    }

    nav ul li {
        display: inline-block;
    }
}

@media screen and (max-width: 1280px) {
    .function_nav {
        margin-top: 12px;
    }

    header .container {
        padding: 0 30px;
    }
}



@media screen and (max-width: 886px) {
    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 0 5px;
    }
}

@media screen and (max-width: 800px) {
    .m_cta {
        background: rgba(0, 158, 150, 0.85);
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: block;
        z-index: 2;
        padding: 10px;
    }

    .m_cta a {
        font-size: 18px;
        display: block;
        color: #fff;
    }

    .m_cta a img {
        display: inline-block;
        width: 12px;
        vertical-align: middle;
        margin-left: 10px;
    }

    .nav_wrap {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

    .nav_wrap_pc {
        display: none;
    }


    header .nav_wrap_m {
        display: block;
    }

    .headerChange nav ul li a {
        color: #3a3838;
    }

    .function_nav {
        text-align: center;
        background: transparent;
        max-width: 100%;
        padding: 0;
    }

    .function_nav>p {
        padding-bottom: 8px;
        font-size: 16px;
    }

    .function_nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .function_nav ul li {
        width: calc(100% / 2);
        text-align: center;
        margin: 0px !important;
        height: 80px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid #fff;
    }

    .function_nav ul li:nth-child(1) {
        background: rgba(255, 197, 23, 0.4);
    }

    .function_nav ul li:nth-child(1) a {
        color: #ffc517;
    }

    .function_nav ul li:nth-child(2) {
        background: rgba(255, 197, 23, 0.2);
    }

    .function_nav ul li:nth-child(2) a {
        color: #ffc517;
    }

    .function_nav ul li:nth-child(3) {
        background: rgba(0, 164, 239, 0.4);
    }

    .function_nav ul li:nth-child(3) a {
        color: #00a4ef;
    }

    .function_nav ul li:nth-child(4) {
        background: rgba(237, 72, 72, 0.4);
    }

    .function_nav ul li:nth-child(4) a {
        color: #ed4848;
    }

    .function_nav ul li:nth-child(5) {
        background: rgba(255, 153, 0, 0.4);
    }

    .function_nav ul li:nth-child(5) a {
        color: #ff9900;
    }

    .function_nav ul li:nth-child(6) {
        background: rgba(0, 192, 139, 0.4);
    }

    .function_nav ul li:nth-child(6) a {
        color: #00c08b;
    }

    header.on {
        top: 0;
    }

    header {
        position: fixed;
        height: 48px;
        padding-bottom: 5px;
    }

    #toggle {
        display: none;
        width: 28px;
        height: 30px;
        margin: 24px auto 10px;
        right: 15px;
        top: 0;
        position: absolute;
        display: block;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #toggle span {
        position: relative;
        display: block;
    }

    #toggle.on span {
        background-color: transparent;
    }

    #toggle.on span::before {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle.on span::after {
        -webkit-transform: rotate(-45deg) translate(7px, -8px);
        -ms-transform: rotate(-45deg) translate(7px, -8px);
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 2px;
        background-color: #c0c0c0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }

    .main-nav {
        position: absolute;
        left: 0;
        top: 48px;
        z-index: 100;
        height: 100vh;
        width: 100%;
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: rgba(255, 255, 255, 0.98);
    }

    .main-nav::before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-size: 100% 100%;
    }

    .main-nav ul.anchor {
        padding: 0;
        margin-top: 3vh;
    }

    .main-nav ul.anchor li {
        margin: 7px;
        text-align: center;
        padding: 7px;
    }

    .main-nav ul.anchor li a {
        font-size: 16px;
        display: block;
    }

    .main-nav ul.anchor li a:hover {
        padding-left: 10px;
    }

    .store {
        display: block;
        text-align: center;
    }

    .main-nav.on {
        display: block;
        z-index: 1000;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

#gotop img {
    cursor: pointer;
    max-width: 56px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 4px;
}

header .guiclogo img{
    height: 48px;
}
@media (max-width: 768px) {
    #gotop {
        max-width: 56px;
    }

    #gotop img {
        max-width: 40px;
    }
    header .container {
        padding: 0 14px;
    }
    header .guiclogo img{
        height: 44px;
    }
}


@media screen and (max-width: 330px) {
    .main-nav ul.anchor li {
        margin: 0;
    }

    .function_nav ul li {
        height: 70px;
    }
}


footer {
    padding: 32px 0 16px 0;
    background-color: #145D8D;
    color: #ffffff;
    font-size: 14px;
}
.footer_info ul li{
    margin-bottom: 26px;
}
.footer_corp ul li{
    margin-bottom: 12px;
}
.footer_corp ul li:nth-child(1){
    margin-bottom: 16px;
}
.footer_corp ul li a:hover{
    opacity: .5;
}
.footer_logo img{
    margin-bottom: 12px;
    width: 100px;
}
.footer_logo .copyright{
    font-size: 12px;
    width: 200px;
}
@media screen and (max-width: 768px) {
    footer {
        padding: 32px 24px;
    }
    .footer_logo{
        order: 3;
    }
    .footer_info, .footer_corp {
        margin-bottom: 20px;
    }
    .footer_logo .copyright{
        width: 100%;
    }
    .footer_logo img{
        width: 80px;
    }
}


/* ------float_btn---- */
.float_btn {
    position: fixed;
    max-width: 76px;
    width: 100%;
    right: 16px;
    bottom: 5%;
    z-index: 2;
    display: none;
}

.float_btn .float_btn_red {
    background-color: #f8524c;
}

.float_btn .float_btn_orange {
    background-color: #ef7800;
}

.float_btn .float_action_btn {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    margin: 8px auto;
}

.float_btn .float_action_btn .break {
    display: block;
}

.float_btn .float_action_btn a {
    color: #fff;
}

.float_btn .action_icon_btn img {
    display: block;
    max-width: 26px;
    width: 100%;
    margin: 0px auto 2px;
    height: 30px;
}

@media (max-width: 768px) {
    .float_btn {
        max-width: 50px;
    }

    .float_btn .float_action_group {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .float_btn .float_action_group .float_action_btn {
        width: 100%;
        height: inherit;
        border-radius: inherit;
        display: block;
        margin: 0;
        font-size: 16px;
    }

    .float_btn .float_action_group .float_action_btn a {
        padding: 16px 10px;
        display: block;
    }

    .float_btn .float_action_group .float_action_btn .break {
        display: none;
    }

    .float_btn .float_action_group .float_action_btn:last-child {
        border-left: 1px solid white;
    }

    .float_btn .action_icon_btn img {
        display: none;
    }
}

@media (max-width: 576px) {
    .float_btn {
        right: 8px;
    }
}

/* ------section ---- */
section {
    padding: 72px 0;
    overflow: hidden;
    height: auto;
    font-size: 18px;
    line-height: 1.8rem;
}

@media screen and (max-width: 768px) {
    section {
        padding: 36px 0;
        font-size: 16px;
        line-height: 1.6rem;
    }
}
